# Orders to suppliers (Part A)

## Following the orders placed, how many units are needed for EU?

In [1]:
5000 + 4000

9000

We can reproduce the same calculation using *variables*:

In [2]:
m04eu_units = 5000 + 4000

Executing the cell in a notebook will display the value of the last line, if it is an operation not assigned to a variable, or just a variable.

In [3]:
m04eu_units

9000

We can overwrite existing variables:

In [4]:
m04eu_units = 0
m04eu_units

0

## If this is the average monthly unit order, how many units would be ordered in one year?

In [5]:
(5000 + 4000) * 12

108000

We can do the same calculation using variables:

In [6]:
m04eu_units = 5000 + 4000
m04eu_units * 12

108000

In [7]:
m04eu_units = 5000 + 4000
m04eu_units * 12
m04eu_units

9000

If you want to keep it, always store the value of an operation in a variable:

In [8]:
m04eu_units = 5000 + 4000
m04eu_units = m04eu_units * 12
m04eu_units

108000

## What is the average cost of a unit for North America (NA)? And EU?

The average cost of a unit is the total number of units over the total cost.

North America:

In [9]:
2384400 / 10000

238.44

Europe:

In [10]:
units = 5000 + 4000
order_total = 952000 + 1200550
avg_cost_unit = order_total / units
avg_cost_unit

239.17222222222222

We can call funcions (more on that later) to manipulate the result, in this case, round it two decimals.

In [11]:
round(avg_cost_unit, 2)

239.17

## Create the Japan (JP) order details. Total budget: 200000 USD, price per unit: 243.63. How much money is left of the budget?

* **Dollar total amount: ?**
* Unit type: M04
* Location: JP
* **Number of units: ?**
* Budget: 200000
* Average price per unit: 234.63

In [12]:
budget = 200000
avg_cost_unit = 243.63
units = budget / avg_cost_unit
units

820.9169642490663

We need an integer number for the units, as we cannot order partially built units.

In [13]:
round(units)

821

In [14]:
order_total = round(units) * avg_cost_unit
order_total

200020.23

In [15]:
round(budget - order_total, 2)

-20.23

The total amount we would have to pay if we round the number of units is more than the budget. We need to round down, in Python that is done with the function `floor`.

In [16]:
floor(units)

NameError: name 'floor' is not defined

We need to import it first:

In [17]:
import math
math.floor(units)

820

In [18]:
from math import floor
floor(units)

820

In [19]:
order_total = floor(units) * avg_cost_unit
order_total

199776.6

In [20]:
round(budget - order_total, 2)

223.4

## Is the cost per unit of each supplier in EU the same?

* Order to supplier 1
    * Dollar Total Amount: 952000
    * Unit type: M04
    * Location: EU
    * Number of Units: 4000
* Order to supplier 3
    * Dollar Total Amount: 1200550
    * Unit type: M04
    * Location: EU
    * Number of Units: 5000

In [21]:
cost_1 = 952000 / 4000
cost_2 = 1200550 / 5000

In [22]:
cost_1

238.0

In [23]:
cost_2

240.11

In [24]:
cost_1 == cost_2

False

In [25]:
cost_1 != cost_2

True

The cost of each supplier is different.

## Is it True that (on average) JP is more expensive than NA and NA more expensive than EU?

In [26]:
cost_na = 2384400 / 10000
cost_jp = 243.63
cost_eu = (952000 + 1200550) / (5000 + 4000)

In [27]:
cost_jp > cost_na

True

In [28]:
cost_na > cost_eu

False

In [29]:
cost_jp > cost_na and cost_na > cost_eu

False

In [30]:
cost_jp > cost_na > cost_eu

False

In [31]:
cost_jp > cost_eu > cost_na

True

No, the order from most expensive to cheapest is: 1.JP 2.EU 3.NA

## Create the string to print the label of the shippment (Unit type, location, units, separated by dash)

Strings are concatenated using a `+` symbol.

In [32]:
M04 + JP + 5000

NameError: name 'M04' is not defined

In [33]:
unit_type = M04
location = JP
n_units = 5000

NameError: name 'M04' is not defined

M04 is treated as a variable name in both cases. Strings are defined with single or double quotes.

In [34]:
unit_type = 'M04'
location = 'JP'
n_units = 5000

In [35]:
unit_type + location + n_units

TypeError: can only concatenate str (not "int") to str

When concatenating strings, all elements must be a string (5000 is a number). To have 5000 as a string, we use '5000':

In [36]:
n_units = '5000'

In [37]:
unit_type + location + n_units

'M04JP5000'

In [38]:
unit_type + '-' + location + '-' + n_units

'M04-JP-5000'

In [39]:
dash = '-'
label = unit_type + dash + location + dash + n_units
label

'M04-JP-5000'

We can also calculate the length of the label:

In [40]:
len(label)

11

## Create a second label for shipping with a different carrier, all in lower-case letters and without the dash.

In [41]:
label

'M04-JP-5000'

Strings have useful *methods* that can be called using the `.method()` syntax. Documentation is available online.

In [42]:
label.lower()

'm04-jp-5000'

The empty string can be used to eliminate sub-strings:

In [43]:
label.replace('-', '')

'M04JP5000'

Methods can be concatenated:

In [44]:
label.replace('-', '').lower()

'm04jp5000'

In [45]:
label2 = label.replace('-', '').lower() # Saving value for later

## From the second label, extract the unit type, location, and number of units.

In [46]:
label2

'm04jp5000'

In [47]:
label2[0:3]

'm04'

In [48]:
label2[3:5]

'jp'

In [49]:
label2[5:]

'5000'

In [50]:
type(2384400)

int

In [51]:
type(2384400 / 10000)

float

In [52]:
type(M04JP)

NameError: name 'M04JP' is not defined

M04JP is a non-defined variable.

In [53]:
type('M04JP')

str

In [54]:
avg_cost_unit = 2384400 / 10000
avg_cost_unit

238.44

In [55]:
avg_cost_unit < 300

True

In [56]:
type(avg_cost_unit < 200)

bool

In [57]:
type(False)

bool

In [58]:
avg_cost_unit

238.44

We can also convert the type if needed:

In [59]:
int(avg_cost_unit)

238

In [60]:
str(avg_cost_unit)

'238.44'

In [61]:
float(int(avg_cost_unit))

238.0

In [62]:
int(label2[5:])

5000